<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Recommendations!</title>
</head>

<body>

  <h1> Now this was VERY fast instead, right?</h1>
  <h2> 🚀🚀🚀🚀🚀🚀🚀🚀🚀🚀🚀🚀🚀</h2>
  <h3> Here's what we recommend you to watch based on your favourite movie: 🍒 “{{ input }}” 🍒</h3>
  <ul>

    {% for m in movies%}
    <li>{{ m }}</li>
    {% endfor %}

    <ul>
      <p>
        <br>
        <br>
        <br>
        <a href="/">Come on, now go back to main page and try out the other recommending system we made for you!</a>
        <br>
        Your cinematographic happiness is our mission! 
      </p>

</body>

</html>