
    <!DOCTYPE html>
    <html lang="en" dir="ltr">
    
    <head>
      <meta charset="utf-8">
      <title>StatSigMoRe</title>
    </head>
    
    <body>
      <h1>{{ title }}</h1>
      <h3>{{ subtitle }}<br>{{ subsubtitle }}</h3>
      <br>
      <br>
      <form action="/recommender">
        <p>Please rate the following movies on a scale from 0.0 to 5.0:</p>
        {{ movie1 }}:
        <input type="text" name="{{ movie1 }}" placeholder="0.0 - 5.0"><br>
        {{ movie2 }}:
        <input type="text" name="{{ movie2 }}" placeholder="0.0 - 5.0"><br>
        {{ movie3 }}:
        <input type="text" name="{{ movie3 }}" placeholder="0.0 - 5.0"><br>
        {{ movie4 }}:
        <input type="text" name="{{ movie4 }}" placeholder="0.0 - 5.0"><br>
        {{ movie5 }}:
        <input type="text" name="{{ movie5 }}" placeholder="0.0 - 5.0"><br>
        <input type="submit">
      </form>
      <br>
      <br>
      <form action="/knn_recommender">
        <h4>You don't fancy rating movies? No prob! Let us just do it in another way!</h4> 
        <p>You can also simply write the name of a movie you like (but make sure to capitalise all the initials: e.g. Iron Man):</p>
        🍒 Come on! Your favourite one!🍒
        <br>
    
        <input type="text" name="rating1" placeholder="Your favourite movie..."><br>
      </form>
      
    </body>
    
    </html>

